<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer class="footer w-100" th:fragment="copy">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 bg-light">
                Sponsored by
                <a href="https://72.services/" target="_blank">72&reg; Services LLC</a>
            </div>
            <div class="col-lg-10 text-right">
                <!--/*@thymesVar id="applicationVersion" type="java.lang.String"*/-->
                <span th:text="${applicationVersion}"></span>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>

    <script>
        if (window.matchMedia('(max-width: 960px)').matches) {
            $('#sidebar').hide();
        } else {
            $('#sidebar').show();
        }

        function toggleSidebar() {
            if ($('.collapsibleNav').is(":visible")) {
                $('#sidebar').hide();
            } else {
                $('#sidebar').show();
            }
        }
    </script>
</footer>

</body>
</html>