<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="navigation (page, organizationKey)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/dashboard/{organizationKey}(organizationKey=${organizationKey})}">
            <img th:src="@{/images/icon.png}" class="d-inline-block align-top">
            JTAF - Track and Field
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapsibleNav"
                aria-controls="navbarTop navbarSide" aria-expanded="false" aria-label="Toggle navigation"
                onclick="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapsibleNav collapse navbar-collapse" id="navbarTop">
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/simasch/jtaf/" target="_blank">About</a>
                </li>
                <li class="nav-item">
                    <!--/*@thymesVar id="applicationVersion" type="java.lang.String"*/-->
                    <a class="nav-link" href="https://github.com/simasch/jtaf/" target="_blank">v.[[${applicationVersion}]]</a>
                </li>
                <li th:if="${#authentication.principal == 'anonymousUser'}"
                    th:class="${page == 'organizations'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:text="#{messages.register}" th:href="@{/register}">Register</a>
                </li>
                <li th:if="${#authentication.principal == 'anonymousUser'}"
                    th:class="${page == 'organizations'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:text="#{messages.login}"
                       th:href="@{/sec/organizations(organizationKey=${organizationKey})}">Login</a>
                </li>
                <li th:if="${#authentication.principal != 'anonymousUser'}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" th:text="${#authentication.principal.username}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/sec/user(organizationKey=${organizationKey})}"
                           th:text="#{messages.change_password}">
                        </a>
                        <a class="dropdown-item" href="javascript: document.logoutForm.submit()"
                           th:text="#{messages.logout}"></a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Sign Out"/>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>