body {
    background-image: url(/jtaf/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow: auto;
}
h1 {
    font-size: 26px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

.bigger {
    font-size: 18px;
}

div#header {
    padding-left: 16px;
    padding-right: 50px;
    margin-left: auto; 
    margin-right: auto; 
    width: 819px;
    height: 142px;
    background-image: url(/jtaf/images/header.png); 
    background-repeat: no-repeat;
}

div#main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 50px;
    margin-left: auto; 
    margin-right: auto; 
    width: 785px;
    min-height: 300px;
    background-image: url(/jtaf/images/content.png); 
    background-repeat: repeat-y;
}

div#footer {
    /*margin-top: -17px;*/
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    text-align: center;
    color: white;
    margin-left: auto; 
    margin-right: auto; 
    width: 785px;
    height: 137px;
    background-image: url(/jtaf/images/footer.png); 
    background-repeat: no-repeat;
}

div#userinfo {
    padding-top: 35px;
    padding-left: 715px;
}

div#navigation {
    padding-top: 55px;
}

div#tabs {
    border-width: 2px;
    border-style: solid;
    border-color: #FAF7B8;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

div#info {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9999;
    width: 300px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    opacity: 0,8;
    margin-left: auto;
    margin-bottom: auto;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: dodgerblue;
}

div#error {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9999;
    width: 300px;
    height: 40px;
    background-color: tomato;
    opacity: 0,8;
    margin-left: auto;
    margin-bottom: auto;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: tomato;
}

a.navigation_inactive {
    margin-right: 8px;
    padding: 17px;
    overflow: hidden;
    text-decoration: none;
    color: #efefef;
    font-weight: bold;
}

a.navigation_active {
    margin-right: 8px;
    padding: 17px;
    overflow: hidden;
    text-decoration: none;
    color: #bddb8d;
    background-color: #010101;
    font-weight: bold;
}

a.tab_inactive {
    padding: 15px;
    background-color: #bddb8d;
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a.tab_active {
    padding: 15px;
    background-color: #e1efca;
    overflow: hidden;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

input[type="submit"], input[type="reset"], button {
    border: 1px solid #a8a8a8;
    background: #F5F5F5;
    color: #4f4f4f;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

input[type="text"], input[type="date"], input[type="number"], input[type="password"], select {
    width: 200px;
    margin-right: 40px;
}

input#search_term {
    width: 500px;
    padding: 15px;
    margin: 0px;
}

input[type="submit"]#search {
    padding: 16px;
    font-weight: bold;
}

table.list, table.list_sortable, table.events, table.results {
    width: 100%;
    border-collapse: collapse;
}

table.ranking {
    width: 100%;
}

table.input {
    width: 400px;
    border-collapse: collapse;
}

table.list td, table.list_sortable td, table.input td, table.results td {
    padding: 15px;
}

table.list th {
    text-align: left;
    background: #bddb8d;
    padding: 15px;
}

table.list_sortable th {
    text-align: left;
    background: #bddb8d;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    cursor: pointer;
}

table.list tr:nth-child(even) { background: #e1efca; }
table.list tr:nth-child(odd) { background: #efefef; }

table.list_sortable tr:nth-child(even) { background: #e1efca; }
table.list_sortable tr:nth-child(odd) { background: #efefef; }

table.input tr:nth-child(even) { background: #e1efca; }
table.input tr:nth-child(odd) { background: #efefef; }

table.results tr:nth-child(even) { background: #e1efca; }
table.results tr:nth-child(odd) { background: #efefef; }

td.small {
    font-size: 11px;
    padding-bottom: 15px;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul.spaces li {
    display: block;
    list-style: none;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    background-color: #e1efca;
    overflow: hidden;
} 

ul.series li {
    display: block;
    list-style: none;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #bddb8d;
    overflow: hidden;
} 

ul.competition li {
    display: block;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
    height: 80px;
    background-color: #e1efca;
    overflow: hidden;
} 

ul.series a {
    padding: 7px;
    background-color: #bddb8d;
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul.competitions a {
    padding: 7px;
    background-color: #bddb8d;
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.invisible {
    display: none;
}

.visible {
}

.noborderradus  {
    border-radius: 0 0 0 0 !important;
}

.edit{
    cursor: pointer;
}
