body {
    margin: 20px;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #FFFFFF;
    overflow: auto;
}
h1 {
    font-size: 26px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

input[type="submit"], button {
    border: 1px solid #a8a8a8;
    background: #F5F5F5;
    color: #4f4f4f;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

input[type="text"], input[type="number"], input[type="date"]{
    width: 200px;
}

select {
    width: 170px;
}

div#main {
    margin-left: auto; 
    margin-right: auto; 
    width: 800px
}

div#info {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    width: 300px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    opacity: 0,8;
    margin-left: auto;
    margin-bottom: auto;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: dodgerblue;
}

div#error {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    width: 300px;
    height: 40px;
    background-color: tomato;
    opacity: 0,8;
    margin-left: auto;
    margin-bottom: auto;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: tomato;
}

table.result, table.input, table.events {
    width: 100%;
    border-collapse: collapse;
}

table.result td {
    padding: 15px;
}

table.input td {
    padding: 10px;
}

table.result th {
    text-align: left;
    background: #99AC3B;
    padding: 15px;
    cursor: pointer;
}

table.result th:first-child { border-radius: 9px 0 0 0; }
table.result th:last-child { border-radius: 0 9px 0 0; }
table.result tr:last-child td:first-child { border-radius: 0 0 0 9px; }
table.result tr:last-child td:last-child { border-radius: 0 0 9px 0; }
table.result tr:nth-child(even) { background: #B9CC5B; }
table.result tr:nth-child(odd) { background: #FAF7B8; }

table.input tr:first-child td:first-child { border-radius: 9px 0 0 0; }
table.input tr:first-child td:last-child { border-radius: 0 9px 0 0; }
table.input tr:last-child td:first-child { border-radius: 0 0 0 9px; }
table.input tr:last-child td:last-child { border-radius: 0 0 9px 0; }
table.input tr:nth-child(even) { background: #FAF7B8; }
table.input tr:nth-child(odd) { background: #B9CC5B; }

.edit{
    cursor: pointer;
}