body {
    margin: 20px;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #FFFFFF;
    overflow: auto;
}
h1 {
    font-size: 26px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

input[type="submit"], input[type="reset"], button {
    border: 1px solid #a8a8a8;
    background: #F5F5F5;
    color: #4f4f4f;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

input[type="text"], input[type="date"], input[type="number"], input[type="password"], select {
    width: 200px;
    margin-right: 40px;
}

div#main {
    margin-left: auto; 
    margin-right: auto; 
    width: 800px
}

div#info {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    width: 300px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    opacity: 0,8;
    margin-left: auto;
    margin-bottom: auto;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: dodgerblue;
}

div#error {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    width: 300px;
    height: 40px;
    background-color: tomato;
    opacity: 0,8;
    margin-left: auto;
    margin-bottom: auto;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: tomato;
}

table.list, table.events {
    width: 100%;
    border-collapse: collapse;
}

table.results {
    width: 100%;
    border-collapse: collapse;
}

table.input {
    width: 400px;
    border-collapse: collapse;
}

table.input {
    width: 800px;
    border-collapse: collapse;
}

table.list td {
    padding: 15px;
}

table.input td {
    padding: 15px;
}

table.results td {
    padding: 15px;
}

table.list th {
    text-align: left;
    background: #99AC3B;
    padding: 15px;
    cursor: pointer;
}

table.list th:first-child { border-radius: 9px 0 0 0; }
table.list th:last-child { border-radius: 0 9px 0 0; }
table.list tr:last-child td:first-child { border-radius: 0 0 0 9px; }
table.list tr:last-child td:last-child { border-radius: 0 0 9px 0; }
table.list tr:nth-child(even) { background: #B9CC5B; }
table.list tr:nth-child(odd) { background: #FAF7B8; }

table.input tr:first-child td:first-child { border-radius: 9px 0 0 0; }
table.input tr:first-child td:last-child { border-radius: 0 9px 0 0; }
table.input tr:last-child td:first-child { border-radius: 0 0 0 9px; }
table.input tr:last-child td:last-child { border-radius: 0 0 9px 0; }
table.input tr:nth-child(even) { background: #FAF7B8; }
table.input tr:nth-child(odd) { background: #B9CC5B; }

table.results tr:first-child td:first-child { border-radius: 9px 0 0 0; }
table.results tr:first-child td:last-child { border-radius: 0 9px 0 0; }
table.results tr:last-child td:first-child { border-radius: 0 0 0 9px; }
table.results tr:last-child td:last-child { border-radius: 0 0 9px 0; }
table.results tr:nth-child(even) { background: #FAF7B8; }
table.results tr:nth-child(odd) { background: #B9CC5B; }

.edit{
    cursor: pointer;
}

ul.series li {
    display: block;
    list-style: none;
    margin: 0px;
    padding: 20px;
    width: 600px;
    border: 2px solid white;
    border-radius: 9px 9px 9px 9px;
    background-color: #B9CC5B;
    overflow: hidden;
} 

ul.competition li {
    display: block;
    list-style: none;
    margin: 20px;
    padding: 20px;
    width: 520px;
    height: 50px;
    border: 2px solid white;
    border-radius: 9px 9px 9px 9px;
    background-color: #FAF7B8;
    overflow: hidden;
} 

ul {
    margin: 0px;
    padding: 0px;
}