<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<!--/*@thymesVar id="organizationKey" type="java.lang.String"*/-->
<div th:fragment="navigation (page, organizationKey)">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">JTAF</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLeft"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarLeft">
                <div class="navbar-nav">
                    <a th:class="${page == 'series'} ? 'nav-item nav-link active' : 'nav-item nav-link'"
                       th:text="${organizationKey}"
                       th:href="@{/sec/{organizationKey}(organizationKey=${organizationKey})}">CIS</a>

                    <a th:class="${page == 'events'} ? 'nav-item nav-link active' : 'nav-item nav-link'"
                       th:text="#{messages.events}"
                       th:href="@{/sec/{organizationKey}/events(organizationKey=${organizationKey})}">Manage Events</a>

                    <a th:class="${page == 'clubs'} ? 'nav-item nav-link active' : 'nav-item nav-link'"
                       th:text="#{messages.clubs}"
                       th:href="@{/sec/{organizationKey}/clubs(organizationKey=${organizationKey})}">Manage Clubs</a>

                    <a th:class="${page == 'athletes'} ? 'nav-item nav-link active' : 'nav-item nav-link'"
                       th:text="#{messages.athletes}"
                       th:href="@{/sec/{organizationKey}/athletes(organizationKey=${organizationKey})}">Manage Athletes</a>

                    <a class="nav-item nav-link" href="https://github.com/simasch/jtaf/" target="_blank">About</a>
                </div>
            </div>
            <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <a sec:authorize="isAuthenticated()"
                   th:class="${page == 'user'} ? 'nav-item nav-link active' : 'nav-item nav-link'" href="/sec/user">
                    <span sec:authentication="name"></span>
                </a>
            </div>
        </nav>
    </header>
</div>

</body>
</html>