html {
}

body {
    height: 100vh;
}

#content {
}

#sidebar {
    height: calc(100vh - 122px);
}

.footer {
    position: fixed;
    height: 60px;
    line-height: 24px;
    bottom: 0;
}

.footer a, .footer a:visited {
    color: rgba(0, 0, 0, .5);
}

.footer a:active, .footer a:hover {
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
}
