html, body, .container, .container-fluid {
    min-height: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 1071;
}

.sidebar {
    display: table-cell;
    height: 100%;
}

#content {
}

.footer {
    position: fixed;
    height: 60px;
    line-height: 24px;
    bottom: 0;
}

.footer a, .footer a:visited {
    color: rgba(0, 0, 0, .5);
}

.footer a:active, .footer a:hover {
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
}

.vh-100 {
    height: calc(100vh - 62px);
    min-height: 100%;
}

