html {
}

body {
    height: 100vh;
}

header {
    position: sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
}

#content {
}

.footer {
    position: fixed;
    height: 60px;
    line-height: 24px;
    bottom: 0;
}

.footer a, .footer a:visited {
    color: rgba(0, 0, 0, .5);
}

.footer a:active, .footer a:hover {
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
}

.vh-100 {
    height: calc(100vh - 62px);
}
