<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="common/head :: head"></head>
<body>

<!--/*@thymesVar id="organizationKey" type="java.lang.String"*/-->
<div th:replace="common/navigation :: navigation ('index', ${organizationKey})"></div>

<div class="container-fluid vh-100">
    <div class="row vh-100">
        <div th:replace="common/side_navigation :: side_navigation ('series', ${organizationKey})"></div>

        <main id="content" role="main" class="col-lg-10 px-5 py-4 container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 th:text="#{messages.ranking}">Ranking</h1>

                    <div class="row">
                        <div class="col-lg-6">
                            <!--/*@thymesVar id="data" type="ch.jtaf.control.reporting.data.CompetitionRankingData"*/-->
                            <h2 th:text="${data.competition.name + ' ' + data.competition.competitionDate}">CIS 1</h2>
                        </div>
                        <div class="col-lg-6 text-right align-self-end">
                            <a class="btn btn-primary" th:href="@{/ranking/competition/{competitionId}/pdf(competitionId=${data.competition.id})}"
                               th:text="#{messages.download_as_pdf}">Download as PDF</a>
                            <a class="btn btn-primary" th:href="@{/ranking/competition/{competitionId}/events(competitionId=${data.competition.id})}"
                               th:text="#{messages.event_ranking}">Event Ranking</a>
                            <a class="btn btn-primary"
                               th:href="@{/ranking/competition/{competitionId}/diplomas(competitionId=${data.competition.id})}"
                               th:text="#{messages.diplomas}">Diplomas</a>
                        </div>
                    </div>

                    <div>
                        <!--/*@thymesVar id="categoryData" type="ch.jtaf.control.reporting.data.CompetitionRankingCategoryData"*/-->
                        <div class="row" th:each="categoryData : ${data.getCategories()}">
                            <div class="col-lg-12 pt-3">
                                <h3 th:text="${categoryData.getCategory().abbreviation + ' ' + categoryData.getCategory().name}">
                                    A Knaben
                                </h3>
                                <div th:each="athleteData,stat : ${categoryData.getAthletesSortedByPointsDesc()}">
                                    <div class="row pt-2">
                                        <div class="col-lg-1" th:text="${stat.index + 1}">1</div>
                                        <div class="col-lg-3" th:text="${athleteData.athlete.lastName}">Muster</div>
                                        <div class="col-lg-3" th:text="${athleteData.athlete.firstName}">Peter</div>
                                        <div class="col-lg-2" th:text="${athleteData.athlete.yearOfBirth}">2004</div>
                                        <div class="col-lg-2"
                                             th:text="${athleteData.athlete.club == null ? '': athleteData.athlete.club.abbreviation}">
                                            TVE
                                        </div>
                                        <div class="col-lg-1 text-right" th:text="${athleteData.getTotalPoints()}">100</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-11" style="font-size: small;" th:text="${athleteData.competitionResultsAsString()}">...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </main>
    </div>
</div>

<div th:replace="common/footer :: copy"></div>

</body>
</html>