<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="common/head :: head"></head>
<body>

<!--/*@thymesVar id="seriesId" type="java.lang.Long"*/-->
<!--/*@thymesVar id="organization" type="java.lang.String"*/-->
<div th:include="sec/common/navigation :: navigation ('athletes', ${organization})"></div>

<main role="main" class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{messages.athletes}">Athletes</h1>

            <!--/*@thymesVar id="mode" type="java.lang.String"*/-->
            <table class="table table-striped">
                <tr>
                    <th th:text="#{messages.last_name}"></th>
                    <th th:text="#{messages.first_name}">First Name</th>
                    <th th:text="#{messages.year_of_birth}">Year of Birth</th>
                    <th th:text="#{messages.gender}">Gender</th>
                    <th th:text="#{messages.club}">Club</th>
                    <th class="text-right">
                        <a th:href="@{/sec/{organization}/athlete(organization=${organization},seriesId=${seriesId},mode=${mode})}"
                           th:text="#{messages.add_athlete}" class="text-right">Add Athlete</a>
                    </th>
                </tr>
                <!--/*@thymesVar id="athletes" type="java.util.List<Athlete>"*/-->
                <!--/*@thymesVar id="athlete" type="ch.jtaf.entity.Athlete"*/-->
                <tr th:each="athlete: ${athletes}">
                    <td>
                        <a th:href="@{/sec/{organization}/athlete/{athleteId}(organization=${organization},athleteId=${athlete.id},mode=${mode})}"
                           th:text="${athlete.lastName}">Doe</a>
                    </td>
                    <td th:text="${athlete.firstName}">John</td>
                    <td th:text="${athlete.yearOfBirth}">2012</td>
                    <td th:text="${athlete.gender}">MALE</td>
                    <td th:text="${athlete.club == null ? '' : athlete.club.abbreviation}">TVE</td>
                    <td class="text-right">
                        <a th:if="${mode == 'select'}"
                           th:href="@{/sec/{organization}/series/{seriesId}/athlete/{athleteId}(organization=${organization},seriesId=${seriesId},athleteId=${athlete.id})}"
                           th:text="#{messages.select}">Select</a>

                        <a th:if="${mode == 'edit'}"
                           th:href="@{/sec/{organization}/athletes/{athleteId}/delete(organization=${organization},athleteId=${athlete.id})}"
                           th:text="#{messages.delete}"
                           onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            </table>
            <a th:if="${mode == 'select'}"
               th:href="@{/sec/{organization}/series/{seriesId}(organization=${organization},seriesId=${seriesId})}"
               th:text="#{messages.back}" class="btn">Back</a>
        </div>
    </div>

    <div th:include="common/footer :: copy"></div>

</main>
</body>
</html>