<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="common/head :: head"></head>
<body>

<!--/*@thymesVar id="seriesId" type="java.lang.Long"*/-->
<!--/*@thymesVar id="organizationKey" type="java.lang.String"*/-->
<div th:replace="common/navigation :: navigation ('athletes', ${organizationKey})"></div>

<div class="container-fluid vh-100">
    <div class="row vh-100">
        <div th:replace="common/side_navigation :: side_navigation ('athletes', ${organizationKey})"></div>

        <main id="content" role="main" class="col-lg-10 px-5 py-4 container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 th:text="#{messages.athletes}">Athletes</h1>

                    <!--/*@thymesVar id="mode" type="java.lang.String"*/-->
                    <table class="table table-striped mt-4">
                        <tr>
                            <th th:text="#{messages.id}"></th>
                            <th th:text="#{messages.last_name}"></th>
                            <th th:text="#{messages.first_name}">First Name</th>
                            <th th:text="#{messages.year_of_birth}">Year of Birth</th>
                            <th th:text="#{messages.gender}">Gender</th>
                            <th th:text="#{messages.club}">Club</th>
                            <th class="text-right">
                                <a th:href="@{/sec/{organizationKey}/athlete(organizationKey=${organizationKey},seriesId=${seriesId},mode=${mode})}"
                                   th:text="#{messages.add_athlete}" class="text-right">Add Athlete</a>
                            </th>
                        </tr>
                        <!--/*@thymesVar id="athletes" type="java.util.List<Athlete>"*/-->
                        <!--/*@thymesVar id="athlete" type="ch.jtaf.entity.Athlete"*/-->
                        <tr th:each="athlete: ${athletes}">
                            <td th:text="${athlete.id}">1</td>
                            <td>
                                <a th:href="@{/sec/{organizationKey}/athlete/{athleteId}(organizationKey=${organizationKey},athleteId=${athlete.id},mode=${mode})}"
                                   th:text="${athlete.lastName}">Doe</a>
                            </td>
                            <td th:text="${athlete.firstName}">John</td>
                            <td th:text="${athlete.yearOfBirth}">2012</td>
                            <td th:text="${athlete.gender}">MALE</td>
                            <td th:text="${athlete.club == null ? '' : athlete.club.abbreviation}">TVE</td>
                            <td class="text-right">
                                <a th:if="${mode == 'select'}"
                                   th:href="@{/sec/{organizationKey}/athletes/{athleteId}/series/{seriesId}/(organizationKey=${organizationKey},seriesId=${seriesId},athleteId=${athlete.id})}"
                                   th:text="#{messages.select}">Select</a>

                                <a th:if="${mode == 'edit'}"
                                   th:href="@{/sec/{organizationKey}/athletes/{athleteId}/delete(organizationKey=${organizationKey},athleteId=${athlete.id})}"
                                   th:text="#{messages.delete}"
                                   onclick="return confirm('Are you sure?')">Delete</a>
                            </td>
                        </tr>
                    </table>
                    <a th:if="${mode == 'select'}"
                       th:href="@{/sec/{organizationKey}/series/{seriesId}(organizationKey=${organizationKey},seriesId=${seriesId})}"
                       th:text="#{messages.back}" class="btn">Back</a>
                </div>
            </div>

        </main>
    </div>
</div>

<div th:replace="common/footer :: copy"></div>

</body>
</html>