<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="common/head :: head"></head>
<body>

<!--/*@thymesVar id="organizationKey" type="java.lang.String"*/-->
<div th:replace="common/navigation :: navigation ('series', ${organizationKey})"></div>

<div class="container-fluid vh-100">
    <div class="row vh-100">
        <div th:replace="common/side_navigation :: side_navigation ('series', ${organizationKey})"></div>

        <main id="content" role="main" class="col-lg-10 px-5 py-4 container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 th:text="#{messages.edit_competition}">Edit Competition</h1>

                    <!--/*@thymesVar id="competition" type="ch.jtaf.entity.Competition"*/-->
                    <form th:action="@{/sec/{organizationKey}/series/{seriesId}/competition(organizationKey=${organizationKey},seriesId=${competition.seriesId})}"
                          th:object="${competition}" method="post">
                        <input type="hidden" id="seriesId" th:field="*{seriesId}">

                        <div class="form-group">
                            <label for="id">ID</label>
                            <input class="form-control" id="id" readonly th:field="*{id}">
                        </div>
                        <div class="form-group">
                            <label for="name" th:text="#{messages.name}">Name</label>
                            <input class="form-control" id="name" th:placeholder="#{messages.name}" th:field="*{name}" required
                                   th:autofocus="true">
                        </div>
                        <div class="form-group">
                            <label for="competitionDate" th:text="#{messages.date}">Date</label>
                            <input type="date" class="form-control" id="competitionDate" th:placeholder="#{messages.date}"
                                   th:field="*{competitionDate}" required>
                        </div>
                        <div class="form-group">
                            <label for="medalPercentage" th:text="#{messages.medalPercentage}">Date</label>
                            <input class="form-control" id="medalPercentage" th:placeholder="#{messages.medalPercentage}"
                                   th:field="*{medalPercentage}">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="alwaysFirstThreeMedals"
                                   th:placeholder="#{messages.alwaysFirstThreeMedals}" th:field="*{alwaysFirstThreeMedals}">
                            <label class="form-check-label" for="alwaysFirstThreeMedals"
                                   th:text="#{messages.alwaysFirstThreeMedals}">Always First Three
                                Medals</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="locked" th:placeholder="#{messages.locked}"
                                   th:field="*{locked}">
                            <label class="form-check-label" for="locked" th:text="#{messages.locked}">Locked</label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" th:text="#{messages.save}">Save</button>
                        <a th:href="@{/sec/{organizationKey}/series/{seriesId}(organizationKey=${organizationKey},seriesId=*{seriesId})}"
                           th:text="#{messages.back}" class="btn">Back</a>

                        <!--/*@thymesVar id="message" type="ch.jtaf.boundary.dto.Message"*/-->
                        <div th:replace="common/message :: message (${message})"></div>
                    </form>
                </div>
            </div>

        </main>
    </div>
</div>

<div th:replace="common/footer :: copy"></div>

</body>
</html>