<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="common/head :: head"></head>
<body>

<!--/*@thymesVar id="organization" type="java.lang.String"*/-->
<div th:include="sec/common/navigation :: navigation ('events', ${organization})"></div>

<main role="main" class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{messages.edit_event}">Edit Category</h1>

            <!--/*@thymesVar id="event" type="ch.jtaf.entity.Event"*/-->
            <form action="#" th:action="@{/sec/{organization}/event(organization=${organization})}" th:object="${event}"
                  method="post">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input class="form-control" id="id" readonly th:field="*{id}">
                </div>
                <div class="form-group">
                    <label for="abbreviation" th:text="#{messages.abbreviation}">Abbreviation</label>
                    <input class="form-control" id="abbreviation" th:placeholder="#{messages.abbreviation}"
                           th:field="*{abbreviation}" required th:autofocus="true">
                </div>
                <div class="form-group">
                    <label for="name" th:text="#{messages.name}">Name</label>
                    <input class="form-control" id="name" th:placeholder="#{messages.name}" th:field="*{name}" required>
                </div>
                <div class="form-group">
                    <label for="eventType" th:text="#{messages.type}">type</label>
                    <select id="eventType" class="form-control" th:field="*{eventType}">
                        <!--/*@thymesVar id="eventType" type="ch.jtaf.entity.EventType"*/-->
                        <option th:each="eventType : ${T(ch.jtaf.entity.EventType).values()}"
                                th:value="${eventType}"
                                th:text="${eventType}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="gender" th:text="#{messages.gender}">Gender</label>
                    <select id="gender" class="form-control" th:field="*{gender}">
                        <!--/*@thymesVar id="gender" type="ch.jtaf.entity.Gender"*/-->
                        <option th:each="gender : ${T(ch.jtaf.entity.Gender).values()}"
                                th:value="${gender}"
                                th:text="${gender}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="a">A</label>
                    <input class="form-control" id="a" placeholder="A" th:field="*{a}" required>
                </div>
                <div class="form-group">
                    <label for="b">B</label>
                    <input class="form-control" id="b" placeholder="B" th:field="*{b}" required>
                </div>
                <div class="form-group">
                    <label for="c">C</label>
                    <input class="form-control" id="c" placeholder="C" th:field="*{c}" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" th:text="#{messages.save}">Save</button>
                <a th:href="@{/sec/{organization}/events(organization=${organization})}"
                   th:text="#{messages.back}">Back</a>

                <!--/*@thymesVar id="message" type="java.lang.String"*/-->
                <div th:if="${message != null}" class="alert alert-success" role="alert" style="margin-top: 20px;">
                    <span th:text="${message}"></span>
                </div>
            </form>
        </div>
    </div>

    <div th:include="common/footer :: copy"></div>

</main>
</body>
</html>