<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="common/head :: head"></head>
<body>

<!--/*@thymesVar id="organizationKey" type="java.lang.String"*/-->
<div th:replace="common/navigation :: navigation ('organizations', ${organizationKey})"></div>

<div class="container-fluid vh-100">
    <div class="row vh-100">
        <div th:replace="common/side_navigation :: side_navigation ('organizations', ${organizationKey})"></div>

        <main id="content" role="main" class="col-lg-10 px-5 py-4 container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 th:text="#{messages.organizations}">My Organziations</h1>

                    <!--/*@thymesVar id="organizations" type="java.util.List<organizations>"*/-->
                    <!--/*@thymesVar id="organization" type="ch.jtaf.entity.Organization"*/-->
                    <table class="table table-striped mt-4">
                        <tr>
                            <th th:text="#{messages.key}">Key</th>
                            <th th:text="#{messages.name}">Name</th>
                            <th class="text-right">
                                <a th:href="@{/sec/organization(organizationKey=${organizationKey})}"
                                   th:text="#{messages.add_organization}" class="text-right">Add
                                    Series</a>
                            </th>
                        </tr>
                        <tr th:each="organization: ${organizations}">
                            <td th:text="${organization.key}">tverlach</td>
                            <td th:text="${organization.name}">Turnverein Erlach</td>
                            <td class="text-right">
                                <a th:href="@{/sec/{organizationKey}(organizationKey=${organization.key})}"
                                   th:text="#{messages.select}">Select</a>

                                <a th:href="@{/sec/organization/{organizationId}/share(organizationId=${organization.id}, organizationKey=${organizationKey})}"
                                   th:text="#{messages.share}">Share</a>

                                <a th:href="@{/sec/organization/{organizationId}(organizationId=${organization.id}, organizationKey=${organizationKey})}"
                                   th:text="#{messages.edit}">Edit</a>

                                <a th:href="@{/sec/organization/{organizationId}/delete(organizationId=${organization.id}, organizationKey=${organizationKey})}"
                                   th:text="#{messages.delete}"
                                   onclick="return confirm('Are you sure?')">Delete</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </main>
    </div>
</div>

<div th:replace="common/footer :: copy"></div>

</body>
</html>