<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="common/head :: head"></head>
<body>

<!--/*@thymesVar id="organization" type="java.lang.String"*/-->
<div th:include="sec/common/navigation :: navigation ('series', ${organization})"></div>

<main role="main" class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{messages.edit_series}">Edit Series</h1>

            <!--/*@thymesVar id="series" type="ch.jtaf.entity.Series"*/-->
            <form action="#" th:action="@{/sec/{organization}/series(organization=${organization})}"
                  th:object="${series}" method="post">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input class="form-control" id="id" readonly th:field="*{id}">
                </div>
                <div class="form-group">
                    <label for="name" th:text="#{messages.name}">Name</label>
                    <input class="form-control" id="name" placeholder="Name" th:field="*{name}" required
                           th:autofocus="true">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="locked" th:placeholder="#{messages.locked}"
                           th:field="*{locked}">
                    <label class="form-check-label" for="locked" th:text="#{messages.locked}">Locked</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="hidden" th:placeholder="#{messages.hidden}"
                           th:field="*{hidden}">
                    <label class="form-check-label" for="hidden" th:text="#{messages.hidden}">Hidden</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" th:text="#{messages.save}">Save</button>
                <a th:href="@{/sec/{organization}(organization=${organization})}" th:text="#{messages.back}">Back</a>

                <!--/*@thymesVar id="message" type="ch.jtaf.boundary.controller.Message"*/-->
                <div th:include="common/message :: message (${message})"></div>
            </form>
            <br>

            <h2 th:text="#{messages.competitions}">Competitions</h2>

            <table class="table table-striped">
                <tr>
                    <th th:text="#{messages.name}">Name</th>
                    <th th:text="#{messages.date}">Date</th>
                    <th class="text-right">
                        <a th:href="@{/sec/{organization}/series/{seriesId}/competition(organization=${organization},seriesId=${series.id})}"
                           th:text="#{messages.add_competition}">Add Competition</a>
                    </th>
                </tr>
                <!--/*@thymesVar id="competition" type="ch.jtaf.entity.Competition"*/-->
                <tr th:each="competition : ${series.competitions}">
                    <td th:text="${competition.name}">1. CIS Twann</td>
                    <td th:text="${competition.competitionDate}">2018-01-02</td>
                    <td class="text-right">
                        <a th:href="@{/sec/{organization}/series/{seriesId}/competition/{competitionId}/sheets(organization=${organization},seriesId=${series.id},competitionId=${competition.id},orderBy='category')}"
                           th:text="#{messages.sheets}">Sheets</a>
                        <a th:href="@{/sec/{organization}/series/{seriesId}/competition/{competitionId}/sheets(organization=${organization},seriesId=${series.id},competitionId=${competition.id},orderBy='club')}"
                           th:text="#{messages.sheets}">Sheets</a>
                        <a th:href="@{/sec/{organization}/series/{seriesId}/competition/{competitionId}/numbers(organization=${organization},seriesId=${series.id},competitionId=${competition.id},orderBy='category')}"
                           th:text="#{messages.sheets}">Sheets</a>
                        <a th:href="@{/sec/{organization}/series/{seriesId}/competition/{competitionId}/numbers(organization=${organization},seriesId=${series.id},competitionId=${competition.id},orderBy='club')}"
                           th:text="#{messages.sheets}">Sheets</a>

                        <a th:href="@{/sec/{organization}/series/{seriesId}/competition/{competitionId}(organization=${organization},seriesId=${series.id},competitionId=${competition.id})}"
                           th:text="#{messages.edit}">Edit</a>
                    </td>
                </tr>
            </table>

            <h2 th:text="#{messages.categories}">Categories</h2>

            <table class="table table-striped">
                <tr>
                    <th th:text="#{messages.abbreviation}">Abbreviation</th>
                    <th th:text="#{messages.name}">Name</th>
                    <th th:text="#{messages.year_from}">Year From</th>
                    <th th:text="#{messages.year_to}">Year To</th>
                    <th class="text-right">
                        <a th:href="@{/sec/{organization}/series/{seriesId}/category(organization=${organization},seriesId=${series.id})}"
                           th:text="#{messages.add_category}">Add Category</a>
                    </th>
                </tr>
                <!--/*@thymesVar id="categories" type="java.util.List"*/-->
                <!--/*@thymesVar id="category" type="ch.jtaf.entity.Category"*/-->
                <tr th:each="category : ${categories}">
                    <td th:text="${category.abbreviation}">A</td>
                    <td th:text="${category.name}">Knaben xy</td>
                    <td th:text="${category.yearFrom}">1900</td>
                    <td th:text="${category.yearTo}">2999</td>
                    <td class="text-right">
                        <a th:href="@{/sec/{organization}/series/{seriesId}/category/{id}(organization=${organization},seriesId=${series.id},id=${category.id})}"
                           th:text="#{messages.edit}">Edit</a>
                    </td>
                </tr>
            </table>

            <h2 th:text="#{messages.athletes}">Athletes</h2>

            <!--/*@thymesVar id="athletes_message" type="java.lang.String"*/-->
            <span style="color: red;" th:text="${athletes_message}"></span>

            <table class="table table-striped">
                <tr>
                    <th th:text="#{messages.category}">Category</th>
                    <th th:text="#{messages.last_name}">Last Name</th>
                    <th th:text="#{messages.first_name}">First Name</th>
                    <th th:text="#{messages.year_of_birth}">Year of Birth</th>
                    <th th:text="#{messages.gender}">Gender</th>
                    <th th:text="#{messages.club}">Club</th>
                    <th class="text-right">
                        <a th:href="@{/sec/{organization}/athletes(organization=${organization}, mode='select', seriesId=${series.id})}"
                           th:text="#{messages.add_athlete}" class="text-right">Add Athlete</a>
                    </th>
                </tr>
                <!--/*@thymesVar id="athletes" type="java.util.List<AthleteDTO>"*/-->
                <!--/*@thymesVar id="athlete" type="ch.jtaf.entity.AthleteDTO"*/-->
                <tr th:each="athlete : ${athletes}">
                    <td th:text="${athlete.category}">A</td>
                    <td th:text="${athlete.lastName}">Muster</td>
                    <td th:text="${athlete.firstName}">Peter</td>
                    <td th:text="${athlete.yearOfBirth}">2004</td>
                    <td th:text="${athlete.gender}">MALE</td>
                    <td th:text="${athlete.club}">TVE</td>
                    <td class="text-right">
                        <a th:href="@{/sec/{organization}/series/{id}/athlete/{athleteId}/delete(organization=${organization},id=${series.id}, athleteId=${athlete.id})}"
                           th:text="#{messages.delete}" onclick="return confirm('Are you sure?')">Remove</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div th:include="common/footer :: copy"></div>

</main>
</body>
</html>