<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="common/head :: head"></head>
<body>

<!--/*@thymesVar id="organization" type="java.lang.String"*/-->
<div th:include="sec/common/navigation :: navigation ('series', ${organization})"></div>

<main role="main" class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{messages.series}">Series</h1>

            <table class="table table-striped">
                <tr>
                    <th th:text="#{messages.name}">Name</th>
                    <th style="text-align: right;">
                        <a th:href="@{/sec/{organization}/series(organization=${organization})}"
                           th:text="#{messages.add_series}" style="text-align: right;">Add Series</a>
                    </th>
                </tr>
                <!--/*@thymesVar id="seriesList" type="java.util.List<Series>"*/-->
                <!--/*@thymesVar id="series" type="ch.jtaf.entity.Series"*/-->
                <tr th:each="series: ${seriesList}">
                    <td>
                        <span th:text="${series.name}" style="font-weight: bold;">CIS 2018</span>
                        <table th:if="${!series.competitions.isEmpty()}" class="table" style="margin-top: 10px;">
                            <!--/*@thymesVar id="competitions" type="java.util.List<Competition>"*/-->
                            <!--/*@thymesVar id="competition" type="ch.jtaf.entity.Competition"*/-->
                            <tr th:each="competition: ${series.competitions}">
                                <td>
                                    <span th:text="${competition.name}">CIS 1</span>
                                </td>
                                <td>
                                    <span th:text="${competition.competitionDate.toString()}">2017-06-10</span>
                                </td>
                                <td>
                                    <span th:text="${competition.numberOfAthletesWithResults + '/' + competition.numberOfAthletes}"> Athletes 1/10</span>
                                </td>
                                <td style="text-align: right;">
                                    <a th:href="@{/sec/{organization}/series/{seriesId}/competition/{competitionId}/results(organization=${organization},competitionId=${competition.id},seriesId=${series.id})}"
                                       th:text="#{messages.enter_results}">Enter Results</a>

                                    <a th:href="@{/ranking/{id}(id=${competition.id})}" th:text="#{messages.ranking}">Ranking</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="text-align: right;">
                        <a th:href="@{/sec/{organization}/series/{id}(organization=${organization},id=${series.id})}"
                           th:text="#{messages.edit}">Edit</a>

                        <a th:href="@{/sec/{organization}/{id}/delete(organization=${organization},id=${series.id})}"
                           th:text="#{messages.delete}" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div th:include="common/footer :: copy"></div>

</main>
</body>
</html>