<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="common/head :: head"></head>
<body>

<div th:include="common/navigation :: navigation ('athletes')"></div>

<main role="main" class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{messages.athletes}">Athletes</h1>

            <!--/*@thymesVar id="athletes" type="java.util.List<Athlete>"*/-->
            <!--/*@thymesVar id="athlete" type="ch.jtaf.entity.Athlete"*/-->
            <table class="table table-striped">
                <tr>
                    <th th:text="#{messages.last_name}">Last Name</th>
                    <th th:text="#{messages.first_name}">First Name</th>
                    <th th:text="#{messages.year_of_birth}">Year of Birth</th>
                    <th th:text="#{messages.gender}">Gender</th>
                    <th th:text="#{messages.club}">Club</th>
                    <th style="text-align: right;"><a href="/sec/athlete" th:text="#{messages.add_athlete}"
                                                      style="text-align: right;">Add Athlete</a></th>
                </tr>
                <tr th:each="athlete: ${athletes}">
                    <td th:text="${athlete.lastName}">Doe</td>
                    <td th:text="${athlete.firstName}">John</td>
                    <td th:text="${athlete.yearOfBirth}">2012</td>
                    <td th:text="${athlete.gender}">MALE</td>
                    <td th:text="${athlete.club == null ? '' : athlete.club.abbreviation}">TVE</td>
                    <td style="text-align: right;">
                        <a th:href="@{/sec/athlete/{id}(id=${athlete.id})}" th:text="#{messages.edit}">Edit</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div th:include="common/footer :: copy"></div>

</main>
</body>
</html>