<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="common/head :: head"></head>
<body>

<div th:include="common/navigation :: navigation ('events')"></div>

<main role="main" class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{messages.events}">Events</h1>

            <!--/*@thymesVar id="mode" type="java.lang.String"*/-->
            <table class="table table-striped">
                <tr>
                    <th th:text="#{messages.abbreviation}">Abbreviation</th>
                    <th th:text="#{messages.name}">Name</th>
                    <th th:text="#{messages.type}">Type</th>
                    <th th:text="#{messages.gender}">Gender</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th style="text-align: right;">
                        <a th:if="${mode == 'edit'}" href="/sec/event" th:text="#{messages.add_event}"
                           style="text-align: right;">Add Event</a>
                    </th>
                </tr>
                <!--/*@thymesVar id="events" type="java.util.List<Event>"*/-->
                <!--/*@thymesVar id="event" type="ch.jtaf.entity.Event"*/-->
                <tr th:each="event: ${events}">
                    <td th:text="${event.abbreviation}">jump</td>
                    <td th:text="${event.name}">Long Jump</td>
                    <td th:text="${event.eventType}">JUMP</td>
                    <td th:text="${event.gender}">MALE</td>
                    <td th:text="${event.a}"></td>
                    <td th:text="${event.b}"></td>
                    <td th:text="${event.c}"></td>

                    <td style="text-align: right;">
                        <a th:if="${mode == 'edit'}" th:href="@{/sec/event/{id}(id=${event.id})}"
                           th:text="#{messages.edit}"></a>

                        <a th:if="${mode == 'edit'}" th:href="@{/sec/events/{id}/delete(id=${event.id})}"
                           th:text="#{messages.delete}"
                           onclick="return confirm('Are you sure?')">Delete</a>

                        <!--/*@thymesVar id="categoryId" type="java.lang.Long"*/-->
                        <a th:if="${mode == 'select'}"
                           th:href="@{/sec/category/{categoryId}/event/{id}(categoryId=${categoryId}, id=${event.id})}"
                           th:text="#{messages.select}">Select</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div th:include="common/footer :: copy"></div>

</main>
</body>
</html>